*{
    margin: 0;
    padding: 0;
}
.btn{
    color: #FFF;
    font-family: Lato;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
}
/* ------------------------------
        banner-start
-------------------------------- */
.banner{
    background-color: #E554731A;
    display: flex;
    padding: 0px 240px;
    align-items: center;
    justify-content: space-between;
}
.banner-img{
    margin-top: 50px;
    margin-bottom: -5px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* ------------------------------
        feature flower start
-------------------------------- */
.featured-section{
    margin: 100px 240px;
}
.feature-flower-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.feature-flower-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.featured-flower-card-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured-card-img{
    margin: 110px 76px 78px 0px; 
    padding-left: 70px;
    width: 310px;
    height: 428px;
}
.featured-card{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.featured-2{
    background-color: #0597A026;
}
.featured-3{
    background-color: #477D1126;
}