*{
    margin: 0;
    padding: 0;
}
.btn{
    color: #FFF;
    font-family: Lato;
    border: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
}
/* ------------------------------
        banner-start
-------------------------------- */
.banner{
    background-color: #E554731A;
    display: flex;
    padding: 0px 240px;
    align-items: center;
    justify-content: space-between;
}
.banner-img{
    margin-top: 50px;
    margin-bottom: -5px;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* ------------------------------
        feature flower start
-------------------------------- */
.featured-section{
    margin: 100px 240px;
}
.feature-flower-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.feature-flower-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.featured-flower-card-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.featured-card-img{
    margin: 110px 76px 78px 0px; 
    padding-left: 70px;
    width: 310px;
    height: 428px;
}
.featured-card{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.featured-2{
    background-color: #0597A026;
}
.featured-3{
    background-color: #477D1126;
}
.featured-bottom{
    text-align: center;
    padding: 10px;
}
/* ------------------------------
        icon start
-------------------------------- */
.icon-section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 60px 240px;
}
.icon-text{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 22px;
    font-weight: 500;
}
.icon-box{
    padding: 50px;
}
.icon-box img{
    width: 88px;
    height: 88px;
}
/* ------------------------------
        card start
-------------------------------- */
.card{
    margin: 50px 200px;
}
.card-box{
    display: flex;  
    pad: 20px;
}
.bonus-img{
    width: 250px;
    height: 250px;
}
.box{
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 30px;
    pad: 20px;
    border-radius: 15px;
}
.box-text{
    padding: 10px;
}
.box-title{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.box-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* ------------------------------
        hot deal start
-------------------------------- */
.deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
}
.hot-deal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E554730D;
}
.deal-text{
    padding: 50px;
}
.deal-img{
    padding: 50px;
}
/* ------------------------------
        instagram start
-------------------------------- */
.instagram{
    margin: 40px 10px;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.instagram-cars-section{
    display: flex;
    gap: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.instagram-card img{
    width: 342px;
    height: 396px;
}
/* ------------------------------
        subscribe start
-------------------------------- */
.subscribe{
    background-image: url("../Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 240px;
    padding: 122px 50px;
    text-align: center;
}
.input-style{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}
.subscribe-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.subscribe-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
input ::placeholder{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
/* ------------------------------
        footer start
-------------------------------- */
.foot-title{
    font-family: Lato;
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 800;
}
.foot-primary-color{
    color: #E55473;
}
.foot-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 20px;
}
.foot-footer{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.foot{
    background: #111010;
    padding: 128px 400px;
    text-align: center;
}